table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 1%;
}
th {
    background-color: #04AA6D;
    color: white;
}

select {
    padding: 4px;
}

#data table {
    font-size: 15px;
}

#data td, th {
    padding: 2px;
}

#data td.missing {
    background: antiquewhite;
}

td#message {
    width: 2%;
    font-size: 14px;
    text-align: left;
    padding-left: 8px;
}

td#message .info {
    color: green;
}

td#message .warn {
    color: orange;
}

td#message .error {
    color: red;
}