<!DOCTYPE html>
<html lang="vi">

<head>
    <title>Nhin cai gieeeee</title>
    <link rel="stylesheet" href="./css/localize.css">
</head>

<body>

    <div id="toolbar">
        <a><i class="fas fa-home"></i></a>
        <a class="active" href="/">Groups</a>
    </div>


    <table id="tools">
        <tr>
            <th>Open localize xml file here: </th>
            <th colspan="2">
                <input type="file" @change="openFiles" multiple>
            </th>

            <td rowspan="3" id="message">
                <template v-for="m in messages">
                    <div :class="m.type">{{m.content}} <br></div>
                </template>
            </td>
        </tr>
        <tr>
            <th>Filter</th>
            <th>Json</th>
            <th>Csv</th>
        </tr>
        <tr>
            <td>
                <select @change="onFilterChange" v-model="filter.current">
                    <option v-for="f in filter.all" :value="f">{{f}}</option>
                </select>
            </td>
            <td>
                <a hidden id="download_json"></a>
            </td>
            <td>
                <a hidden id="download_csv"></a>
            </td>
        </tr>
    </Table>

    <div id="data">
        <template v-if="columns.length > 0">
            <center>
                <h2>Data</h2>
            </center>
            <Table>
                <tr>
                    <th>STT</th>
                    <th>key</th>
                    <th v-for="col in columns">
                        {{col}}
                    </th>
                </tr>
                <tr v-for="(row, key, i) in rows">
                    <td>{{i}}</td>
                    <td>{{key}}</td>
                    <td v-for="col in columns" :class="!row[col] ? 'missing' : ''">
                        {{row[col]}}
                    </td>
                </tr>
            </Table>
        </template>
    </div>
</body>

<script src="./js/vue.min.js"></script>
<script src="./js/localize.js"></script>

</html>